<link rel="stylesheet" type="text/css" href="css/home.css">

<script src="js/home.js"></script>

<div class="container">
	<h1 class="title">Price Quizzer</h1>
	<div id="startGameContainer">

		<div id="instructions">Guess what these items sell for on Amazon. Get as many right before getting 3 wrong</div>

		<button type="button" id="startSoloGame" class="btn btn-success">Start a Game</button>
	</div>
	<div id="gameContainer">
		<div class="row" id="gameTop">
			<div class="col-sm-6 col-sm-offset-3">
				<img id="strike1" class="strike" src="images/emptyStrike.png">
				<img id="strike2" class="strike" src="images/emptyStrike.png">
				<img id="strike3" class="strike" src="images/emptyStrike.png">
				<div id="scoreContainer">Score: 0</div>
			</div>
		</div>
		
		<div id="productArea">
			<div class="row" id="productImageContainer" >
				<img src="images/loading.gif" id="productImage">
			</div>

			<div class="row" id="productTitleArea">
				<div class="col-sm-6 col-sm-offset-3" id="productTitle">
					
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3" id="amazonNotice">
				You can click above to see this product on Amazon
				<img src="images/fullStrike.png" id="amazonNoticeDismiss">
			</div>
		</div>

		<div class="row">
			<div class="col-sm-3 col-sm-offset-3 priceButtonContainer">
				<button type="button" class="btn btn-default aPriceButton" id="priceButton1">
					<div class="oldPrice"></div>
					<div class="price"></div>
				</button>
			</div>
			<div class="col-sm-3 priceButtonContainer">
				<button type="button" class="btn btn-default aPriceButton" id="priceButton2">
					<div class="oldPrice"></div>
					<div class="price"></div>
				</button>
			</div>
			<div class="col-sm-3 col-sm-offset-3 priceButtonContainer">
				<button type="button" class="btn btn-default aPriceButton" id="priceButton3">
					<div class="oldPrice"></div>
					<div class="price"></div>
				</button>
			</div>
			<div class="col-sm-3 priceButtonContainer">
				<button type="button" class="btn btn-default aPriceButton" id="priceButton4">
					<div class="oldPrice"></div>
					<div class="price"></div>
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3" id="nextButtonContainer">
				<button type="button" class="btn btn-default" id="nextButton">Next</button>
			</div>
		</div>
	</div>
	<div id="gameOverContainer">
		<div id="gameOverTopContainer">
			<h1 id="gameOverTitle">congratulations!</h1>
			<h4>You got </h4>
			<h3 id="numCorrect">  </h3>
			<h4>correct</h4>
			<h4 id="highScore">High Score: </h4>
			<h4>Can you do better?</h4>
			<button type="button" class="btn btn-success" id="playAgainButton">Play Again</button>
		</div>
		<div id="gameOverProductSummary">
			<h2>Products on your run:</h2> 
			<h5 id="summaryAmazonInstructions">Click item to see amazon page</h5>
			<!-- <div class="col-md-3 summaryContainer">
				<div class="summaryImageContainer">
					<img src="http://ecx.images-amazon.com/images/I/41q8ntp6nqL.jpg" class="summaryImage">
				</div>
				<div class="summaryTitle">
					New Balance Men's MX608V4 Training Shoe,White/Navy,11 4E US
				</div>
				<div class="summaryMoneyAmount">
					$27.20
				</div>
			</div> -->
		</div>
	</div>
</div>









