div{
	// border: 1px solid black;
}

.title{
	text-align: center;
}

#instructions{
	text-align: center;
	margin-bottom: 10px;
	color: grey;
}

#startGameContainer{
	text-align: center;
}

#gameTop{
	margin-left: 0px;
	margin-right: 0px;
}

.strike{
	width: 20px;
}

#scoreContainer{
	text-align: right;
	width: 200px;
	float: right;
	font-size: 1.5em;
}

#gameContainer{
	display: none;
}


#productTitleArea{
	text-align: center;
	margin: 0px;
	font-size: 1.3em;
	margin-top: 10px;
	margin-bottom: 10px;
}

#productImageContainer{
	text-align: center;
	margin: 0px;
}

#productImage{
	height: 300px;
	max-width: 500px;
}

#amazonNotice{
	background-color: rgb(227, 227, 227);
	border-radius: 5px;
	font-size: 1.2em;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	display: none;
}

#amazonNoticeDismiss{
	height: 22px;
	float: right;
	margin-bottom: 3px;
	margin-top: 2px;
	margin-right: 2px;
	cursor: pointer;
}

.aPriceButton{
	height: 70px;
	margin: 5px;
	width: 150px;
	display: none;
}

#priceButton1, #priceButton3{
	float: right
}

#priceButton2, #priceButton4{
	float: left
}


.priceButtonContainer{
	text-align: center;
	padding-right: 0px;
	padding-left: 0px;
}

.oldPrice{
    text-decoration: line-through;
    color: grey;
    font-size: 1.2em;
}

.price{
	font-weight: bold;
	font-size: 1.5em;
}

#nextButtonContainer{
	text-align: center;
	display: none;
}

#nextButton{
	font-size: 1.5em;
	font-weight: bold;
}

#gameOverContainer{
	display: none;
}

#gameOverTopContainer{
	text-align: center;
}

#gameOverTitle{
	font-size: 4em;
}

#numCorrect{
	font-size: 3.5em;
}

#gameOverProductSummary{
	// text-align: center;
}

.summaryContainer{
	border-radius: 5px;
	border: 2px solid black;
	margin-bottom: 20px;
	margin-left: 10px;
	margin-right: 10px;
	color: black;
}

.summaryImageContainer{
	text-align: center;
}

.summaryImage{
	height: 200px;
	max-width: 100%;
	margin-top: 10px;
}

.summaryTitle{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 1.2em;
	height: 80px;
	overflow-y: scroll;
}

.summaryMoneyAmount{
	text-align: center;
	font-size: 2.5em;
	margin-bottom: 10px;
}



